.collection-div {
    margin-top: 30px;
}

.collection-items-div {
    margin: 30px auto 30px auto;
    width: 90%;
    box-shadow:0 0 8px #605856;
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 10px;
}

.categories {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    line-height: 3.0;
    color: #66483F;
    background-color: white;
    font-family: 'Questrial', sans-serif;
}

.item-card-div {
    height: 100%;
    display: flex;
    padding: 0 5% 0 5%;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: auto;
}

.img-container {
    height: 50%;
}

.img-container > img {
    margin: 5%;
    max-width: 95%;
    height: 95%
  }

.card {
    border-radius: 2px;
    height: 450px;
    margin: auto;
    margin-bottom: 2%;
    position: relative;
    width: 250px;
    text-align: left;
    font-family: 'Questrial', sans-serif;
}

.card:hover {
    border-color: #FBAF37;
}

.card-title {
    color: #F75133;
    padding-right: 20px;
    font-size: 18px;
    line-height: 1
}

.card-text {
    color: #66483F;
    max-height: 50px;
    margin-bottom: 25px;
}

.btn {
    background-color: #50A3A4;
    border-color: #50A3A4;
    height: 40px;
    padding-top: 7px;
    border-radius: 50px;
    width: 100%
}

.btn:hover {
    color: #9BC1BC;
}