.collection-div {
    margin-top: 30px;
}

.collection-items-div {
    margin: 30px auto 30px auto;
    width: 90%;
    box-shadow:0 0 8px #605856;
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 10px;
}

.categories {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    line-height: 3.0;
    color: #66483F;
    background-color: white;
    font-family: 'Questrial', sans-serif;
}

.item-card-div {
    height: 100%;
    display: flex;
    padding: 0 5% 0 5%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    overflow: auto;
}

.img-container > img {
    margin-top: 5%;
    width: 100%
  }

.card {
    border-radius: 2px;
    height: 470px;
    margin: 5px;
    margin-bottom: 2%;
    position: relative;
    width: 300px;
    text-align: left;
    font-family: 'Questrial', sans-serif;
}

.card:hover {
    border-color: #FBAF37;
}

.card-title {
    color: #F75133;
}

.card-text {
    color: #66483F;
}

.btn {
    background-color: #50A3A4;
    border-color: #50A3A4;
    height: 40px;
    padding-top: 8px;
}