.home-div {
    margin-top: 30px;
}

.dashboard {
    width: 75%;
    margin: auto;
    margin-top: 4%;
    box-shadow:0 0 8px #605856;
}

.home-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
}

.home-button {
    height: 250px;
    width: 250px;
    margin: 20px;
    box-shadow:0 0 8px #605856;
    font-size: 35px;
    color: white;
    /* border-color: #50A3A4;
    background-color: #50A3A4; */
    font-family: 'Questrial', sans-serif;
}

.home-button:hover {
    cursor: pointer;
    transform: scale(1.05)
}

.logout-btn {
    width: 20%;
    float: right;
    border-color: #50A3A4;
    background-color: #50A3A4;
    color: white;
    height: 35px;
    border-radius: 125px;
    margin-right: 5%;
    line-height: 2.1
}

.logout-btn:hover {
    cursor: pointer;
    color: #9BC1BC;
}

#button1 {
    border-color: #FBAF37;
    background-color: #FBAF37;
}

#button2 {
    border-color: #F75133;
    background-color: #F75133;
}

#button3 {
    border-color: #66483F;
    background-color: #66483F;
}

#button4 {
    border-color: #50A3A4;
    background-color: #50A3A4;
}