.home-div {
    margin-top: 30px;
}

.dashboard {
    width: 70%;
    margin: auto;
    margin-top: 4%;
    box-shadow:0 0 8px #605856;
}

.home-buttons {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    flex-flow: row wrap;
}

.home-button {
    height: 225px;
    width: 225px;
    margin: 25px;
    box-shadow:0 0 8px #605856;
    font-size: 30px;
    color: white;
    font-family: 'Questrial', sans-serif;
}

.home-button:hover {
    cursor: pointer;
    transform: scale(1.05)
}

.homelink:hover {
    color: white;
    text-decoration: none;
}


#button1 {
    border-color: #FBAF37;
    background-color: #FBAF37;
}

#button2 {
    border-color: #F75133;
    background-color: #F75133;
}

#button3 {
    border-color: #66483F;
    background-color: #66483F;
}

#button4 {
    border-color: #50A3A4;
    background-color: #50A3A4;
}