body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}

h1 {
  margin-left: 100px;
  font-family: 'Abril Fatface', cursive;
  color: #F75133;
  font-size: 40px;
}

h2 {
  color: #F7F7F7;
  background-color: #FBAF37;
  font-family: 'Abril Fatface', cursive;
  padding: 10px 0 10px 20px;
  font-size: 26px;
}

h4 {
  margin-left: 100px;
  color: #66483F;
  font-size: 22px;
}

h5 {
  font-family: 'Questrial', sans-serif;
}