.post-item-div {
    margin-top: 30px;
}

.form-div {
    margin: 35px auto 30px auto;
    width: 55%;
    box-shadow:0 0 8px #605856;
    padding-bottom: 1px;
    background-color: white;
}

form {
    margin: 5% 0 5% 6%;
    color: #F75133;
    font-family: 'Questrial', sans-serif; 
}

#post-submit-btn {
    margin-top: 2%;
    height: 45px;
    width: 100%;
    border-radius: 125px;
    color: white;
}

#map {
    height: 100%;
    width: 100%;
}

#man {
    height: 100%;
    width: 100%;
}

.form-head {
    height: 100%;
    padding: 10px 0 2px 15px;
}

.form-control {
    border: solid 1px #E7E6F7;
}